body {
    font-family: Arial, sans-serif;
    background: #e5ddd5;
    color: #333;
    display: flex;
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;
    width: 100%;
}
#sidebar {
    background: #ffffff;
    color: #333;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
#sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #001c50;
}
.brand-block {
    margin-bottom: 20px;
    background: #f4f3f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.brand-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #001c50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-header:hover {
    color: #799bb9;
}
.conversation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.conversation-item {
    cursor: pointer;
    margin: 5px 0;
    padding: 8px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: background 0.3s;
}
.conversation-item:hover {
    background: #f0f0f0;
}
#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f4f3f0;
    padding: 15px;
}
#main-content h1 {
    color: #001c50;
    font-size: 24px;
    margin-bottom: 15px;
}
#search-box {
    display: flex;
    margin-bottom: 15px;
}
#brand-selector {
    margin-right: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #ffffff;
    color: #333;
}
#search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#search-button, #clear-chat-button {
    background: #001c50;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
}
#chat-history {
    flex: 1;
    overflow-y: auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    max-height: 80%;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}
.chat-message {
    margin-bottom: 15px;
    display: block;
    align-items: flex-start;
    max-width: 100%;
    white-space: normal;
}
.chat-message.bot {
    text-align: left;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 10px 10px 10px 0;
    margin-right: auto;
    border: 1px solid #cccccc;
}
.chat-message.user {
    text-align: right;
    background-color: #d1ecf1;
    padding: 12px;
    border-radius: 10px 10px 0 10px;
    margin-left: auto;
    border: 1px solid #17a2b8;
}
.chat-message a {
    color: #007bff;
    text-decoration: none;
}
.chat-message a:hover {
    text-decoration: underline;
    color: #0056b3;
}
